#请仔细！！！！！
pandas数据分析：
    基本的数据分析
##务必

In [2]:
import numpy as np
import pandas as pd

In [23]:
df = pd.read_table("data_for_group.txt",index_col=False,encoding="gbk")
a = df.groupby("专业")["英语"].agg([np.std,np.median])
a.reset_index(inplace=True)
a
# df

   专业       std  median
0  统计  5.899152      66
1  金融  6.055301      77

分组分析
df.group(by)[['','']].func()
by:分组依据
[]：分析对象（多列要写咋列表当中）
func:方法函数
结果还是一个DataFrame
a = df.group(by)[['','']].func()
a.reset_index(inplace=True):更新索引,使用方便

列名可以省略，就是统计所有列
列太多，先切片操作列

agg统计函数
agg(func,axis)
agg中调用的函数没有（）->max而不是max()
func：统计函数
axis：轴->0跨行（默认），1跨列
a = df.group(by)[['','']].max()
a = df.group(by)[['','']].agg(max)
二者等价

In [20]:
b = df.iloc[:,2:].agg([max,min])
# b
c = df.agg({'高代':np.mean,'解几':max})
d = df.groupby("专业")[['高代','解几']].agg({'高代':np.mean,'解几':np.std})
d

      高代         解几
专业
统计  53.4  13.049904
金融  68.5  11.219031

交叉分析

In [38]:
dt = pd.read_table('data_for_pivot.txt',index_col=False,encoding="gbk")
# dt
dt.pivot_table(values=['英语','高代'],index='专业',aggfunc=max)
df[df['英语']>70].index

Int64Index([0, 2, 3, 4, 7, 9], dtype='int64')

In [36]:
df1 = pd.DataFrame({'a':[1,2],'b':[3,4]})
df2 = pd.DataFrame({'a':[1,2,5,6],'c':[7,8,9,10]})
df3 = pd.merge(df1,df2,on='a')
df3

   a  b  c
0  1  3  7
1  2  4  8

需要reset_index

In [52]:
# file_path = open("zfsj.csv", encoding="utf-8")
file_data = pd.read_csv("zfsj_group.csv",encoding="utf-8")
# file_data
# housetype_data = file_data["户型"]
file_data.drop_duplicates()
a = pd.DataFrame(file_data.groupby('区域', as_index=False)['小区名称'].count())
a.rename(columns={'小区名称': '小区数量'}, inplace=True)
a

      区域  小区数量
0     丰台   855
1  亦庄开发苑   213
2     大兴   518
3     房山   246
4     昌平   503
5     朝阳  2360
6     海淀   780
7    石景山   245
8     西城  1016
9     通州   263

In [57]:
ds = pd.read_excel("drug_order_detai_1.xlsx",encoding="utf-8")
ds['销量'].sum()
ds['销售额'] = ds['价格']*ds['销量']
dd = pd.DataFrame(ds.groupby('分店')['销售额'].agg([np.max,np.min,np.mean]))
dd

        amax  amin         mean
分店
人大分店   19500   175  3351.375000
四季青分店   5700   280  1875.666667
花园桥分店  19500    30  2660.111111
金源分店    5700   280  1192.888889