python文件数据读取
导入读取TXT文件与CSV文件

pd.read_table(路径,sep="\t",index_col=False,encoding="看文件情况")
pd.read_csv(路径,sep=“\t”,index_col=False,encoding=“看文件情况”)
df = pd.read_excel("phy.xlsx")
table与csv可以互换

df1 = pd.read_excel(filename,sheet_name,header,names)
sheet_name:表名字

显示前后五行(默认)
df.head(参数)
df.tail()

In [2]:
import pandas as pd
df = pd.read_excel("phy.xlsx")
df.head(10)
df.tail(20)

df.drop_duplicateds()

AttributeError: 'DataFrame' object has no attribute 'drop_duplicateds'

文件保存：
pd.to_csv(filename,sep=',',header=True,encoding=" ")
路径书写注意：“e://python//a.csv”
sep:分隔符
header:是否导出列名,默认TRUE
index:保存成Excel文件以后，会自动添加一行索引，index参数调成False会把索引列取消。

In [ ]:
import pandas as pd
school = pd.read_excel("school.xlsx")
school

数据清洗工作：
1.重复值处理
duplicated()/以列数据为基础,当所有两行都是一样的数据时，我们来做决定.
两个常用参数：subse根据那一列判断是否重复t、keep重复值中哪一行不被标注为TRUE（即保留哪一行）
drop_duplicated()
inplace:是否代替原来的DataFrame,换成True就是真正删除
直接删除重复行
2.空值处理
isna()/isnull()
判断哪些元素是缺失值
notna()/notnull()与上面函数的用法相反

info():描述DataFrame的信息
空值也是float
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 552 entries, 0 to 551
Data columns (total 3 columns):
score        552 non-null object
phy_nums     552 non-null int64
phy_order    552 non-null int64
dtypes: int64(2), object(1)
memory usage: 13.1+ KB

df[df.score.isnull()]
直接输出含有空值的行索引号

3.数据替换
replace()
replace(to_value,value,inplace=False)
to_value:被替换
value：替换完成的

直接赋值替换
df[df.score.isnull()] = 10
布尔索引:
df.score[df.score>600] = 650


4.删除
drop()

5.缺失值的处理
删除空值：dropna(axis=0,inplace=False)->返回一行数据包含索引
axis:0是行，1是列，默认为0
数据填充:fillna(value,inplace=False)
value：填充的值
用每一列的统计值：按照列来填写，注意替换的顺序
df.fillna(df.score.mean())
前一个值填充：按照列来填写，注意替换的顺序
df.fillna(method="ffill")
后一个值填充：按照列来填写，注意替换的顺序
df.fillna(method="bfill")
针对不同的列选择不同的数据进行填充：针对不同的列选择不同的数据进行填充：
df.fillna({'A':6,'B':3})    A、B是列的名字

In [26]:
import pandas as pd
sc = pd.read_excel("school.xlsx")
sc.院校名称 = list(sc["院校名称"][i].split("(")[0] for i in range(len(sc.院校名称)))
sc.to_excel("newschool.xlsx",index=False,header=True,encoding="utf-8")

In [11]:
import pandas as pd
df = pd.DataFrame([['A1','B1','C1','D1'],['A2','B2','C2','D2'],['A3','B3','C3','D3']],columns=['A','B','C','D'])
df.loc[:,['B','D']]

    B   D
0  B1  D1
1  B2  D2
2  B3  D3

In [30]:
import pandas as pd
sch = pd.read_excel("newschool.xlsx")
sch.院校名称 = list(sch["院校名称"][i].split("[")[0] for i in range(len(sch.院校名称)))
sch.to_excel("C://Users//Administrator//Desktop//School.xlsx",index=False,header=True,encoding="utf-8")