2020.09.20主要学习pandas

In [2]:
import pandas as pd
import numpy as np
#自动索引
s = pd.Series((1,2,3))
s

0    1
1    2
2    3
dtype: int64

自定义所以虽然定义，但是自动索引仍然存在
索引值相同才相加；索引值对应不同会赋值为空值

In [3]:
s1 = pd.Series((1,2,3),index=['a','b','c'])
s1

a    1
b    2
c    3
dtype: int64

多维的Series
一般来说索引默认，但是列标签具体的数值/文字

In [5]:
d1 = pd.DataFrame((1,2,3),index=[4,5,6],columns=["ha"])
d1

   ha
4   1
5   2
6   3

参数是字典->一个键值对就是DataFrame中的一列

In [15]:
#典型错误写法
# d2 = pd.DataFrame({'name':['ygm','gwl']},{'age':[10,20]})
#正确写法
d2 = pd.DataFrame({'name':['ygm','gwl'],'age':[10,20]})
d2

  name  age
0  ygm   10
1  gwl   20

列表形式的DataFrame创建
d3[['h1','h2']]->必须是两队中括号访问多列
访问行必须用切片索引->哪怕是一行也要切片

In [26]:
d3 = pd.DataFrame([["ygm",100],["gwl",20]],index=["a1","a2"],columns=["h1","h2"])
# d3[['h1','h2']] 访问列
d3[0:1]

     h1   h2
a1  ygm  100

访问单个元素先访问列在访问行,切片块操作

In [29]:
d3["h1"][0:2]

a1    ygm
a2    gwl
Name: h1, dtype: object

np.random.randint(low,high,size),(low,high)区间左闭右开
结果返回一个数组

In [30]:
df = pd.DataFrame(np.random.randint(0,10,20).reshape(10,2),columns=['A','B'])
df

   A  B
0  4  6
1  6  6
2  8  0
3  7  8
4  6  3
5  2  1
6  2  9
7  8  0
8  0  9
9  1  6

布尔索引
注意多条件选取时的

In [42]:
df[(df['A']>5) & (df['B']<8)]
df2 = df[0:2]
df2

   A  B
0  4  6
1  6  6

DataFrame的增删改查
DataFrame的操作多数是从列入手的

In [35]:
# 直接增加
d3["ID"] = [100,200]
d3

     h1   h2   ID
a1  ygm  100  100
a2  gwl   20  200

In [44]:
# 直接调整列的位置
d3 = d3[['ID','h1','h2']]
# 指定位置插入
d3.insert(2,'destion',['HB','BJ'])
d3

     ID   h1 destion   h2
a1  100  ygm      HB  100
a2  200  gwl      BJ   20

两个DataFrame的合并

In [43]:
# d3.append(df2,ignore_index=True)

D:\anaconda\lib\site-packages\pandas\core\frame.py:7123: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

     A    B     ID destion   h1     h2
0  NaN  NaN  100.0      HB  ygm  100.0
1  NaN  NaN  200.0      BJ  gwl   20.0
2  4.0  6.0    NaN     NaN  NaN    NaN
3  6.0  6.0    NaN     NaN  NaN    NaN

drop(labels,axis = 0,inpace=False)
labels:行或者列的标签
axis: 0是行，1是列 -> 记住
inpace=False：是否替代原来的DataFrame
副本的建立

In [53]:
d3.drop('a2',axis=0)

     ID   h1 destion   h2
a1  100  ygm      HB  100

In [55]:
df3 = pd.DataFrame({'A':range(8),'B':range(10,18)})
df3

   A   B
0  0  10
1  1  11
2  2  12
3  3  13
4  4  14
5  5  15
6  6  16
7  7  17

pandas中的排序
->根据数据进行排序
sort_values(by,ascending,inplace)
ascending:True是升序(默认),False是降序
by：排序依据

当数据中含有空值时，空值的排序位置不变始终在表的最后面

In [57]:
d3.sort_values("ID",ascending=False)

     ID   h1 destion   h2
a2  200  gwl      BJ   20
a1  100  ygm      HB  100

数值计算：
空值加上任何数都为空值

In [58]:
df['C'] = df.B+df.A

In [60]:
a = np.arange(1,10)
a[[0,3]]

array([1, 4])

In [63]:
s = pd.Series((1,2,3))
s

0    1
1    2
2    3
dtype: int64