In [26]:
import numpy as np
import pandas as pd
df = pd.read_table("pywork.txt",index_col=False,encoding="utf-8")
df

            学号  专业    英语  体育    军训  数分   高代  解几
0   2308024241  统计  76.0  78  77.0  40   23  60
1   2308024244  统计  66.0  91  89.0  47   47  44
2   2308024251  金融   NaN  81  75.0  90   45  60
3   2308024249  金融  78.0  50   NaN  72   62  71
4   2308024433  金融  73.0  88  92.0  61   79  46
5   2308024201  统计  60.0  60  89.0  缺考   76  71
6   2308024347  金融  67.0  61  84.0  60   65  78
7   2308024251  金融  76.0  79  86.0  69   90  69
8   2308024326  统计  66.0  67  85.0  65  102  71
9   2308024433  金融  79.0  76  77.0  78   70  70
10  2308024428  统计 -50.0  96  91.0  69   60  77

In [30]:
df = pd.read_table("pywork.txt",index_col=False,encoding="utf-8")
df.fillna(0,inplace=True)
df["数分"].replace("缺考",0,inplace=True)
df.解几 = df.解几.astype("int")
df.高代 = df.高代.astype("int")
df.英语 = df.英语.astype("int")
df.体育 = df.体育.astype("int")
df.数分 = df.数分.astype("int")
df.军训 = df.军训.astype("int")
list1 = list([df.英语,df.解几,df.高代,df.体育,df.数分,df.军训])
for i in range(len(list1)):
    for j in range(len(list1[i])):
        if list1[i][j] < 0:
            list1[i][j] = np.abs(list1[i][j])
        if list1[i][j] == 0:
            list1[i][j] = np.random.randint(20,100,1)
list1
df1 = pd.DataFrame(list1).T
df1

D:\anaconda\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

D:\anaconda\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

    英语  解几   高代  体育  数分  军训
0   76  60   23  78  40  77
1   66  44   47  91  47  89
2   21  60   45  81  90  75
3   78  71   62  50  72  98
4   73  46   79  88  61  92
5   60  71   76  60  22  89
6   67  78   65  61  60  84
7   76  69   90  79  69  86
8   66  71  102  67  65  85
9   79  70   70  76  78  77
10  50  77   60  96  69  91

利用numpy计算一些简单线性代数问题：

In [34]:
np.random.seed(1010)
x = np.random.randn(50,5)
va,ve = np.linalg.eig(np.corrcoef(x.T))
va
ve

array([[-0.64381161,  0.10681907,  0.65281196, -0.26166349,  0.28189547],
       [ 0.4239385 ,  0.45983634, -0.01421431, -0.05224721,  0.7783925 ],
       [ 0.42215196, -0.56412751,  0.5941136 ,  0.36247625,  0.13852028],
       [ 0.12880178,  0.67523084,  0.38056249,  0.44235037, -0.4324023 ],
       [-0.45932623, -0.0544398 , -0.27538284,  0.77571874,  0.3293637 ]])