常用的数值转换函数:
df[列].astype(数值类型)
数据类型查看：
df[列].dtype

In [8]:
import numpy as np
import pandas as pd
from scipy.spatial import distance_matrix
from sklearn.metrics.pairwise import pairwise_distances

数据的抽取
1.切片抽取
2.记录抽取

In [2]:
df = pd.read_csv("zfsj.csv")
df['户型']

0       1室0厅
1       3室0厅
2       1室1厅
3       2室1厅
4       1室1厅
        ...
6994    3室2厅
6995    3室2厅
6996    2室1厅
6997    1室1厅
6998    2室1厅
Name: 户型, Length: 6999, dtype: object

方法一：
获取某些行和列的索引
df.loc[行索引，列索引]
获取一行：
loc[行号]/loc[行号1：行号n,列名字1：列名字n]
获取一列：
loc[:,列名字]
方法2：
df.iloc[]
区别：不区别行和列全是数字索引
iloc[行号1：行号n,列号1：列号n];索引区间->左闭右开
df.iloc[[],[]]多行多列

插入操作
插入一行：
df.loc[行数] = [....]直接追加
插入多行：
df.append(df3,ignore_index = True)生成一个新的，不是df2

合并函数：
concat(objs,ignore_index):
objs:需要合并的两个dataframe,写在元组或者列表中
ignore_index：默认为False，不忽略索引，仍然用自己的索引；TRUE为新的索引
用法:pd.concat()
merge(left,right,left_on,right_on):
left_on:依赖左
right_on:依赖右
on:直接选取共同的列名。

join

In [3]:
df1 = pd.DataFrame({'a':[5,6],'b':[7,8]})
df2 = pd.DataFrame({'a':[5,6],'b':[7,8]})
df3 = pd.concat([df1,df2],ignore_index=True)
df3

   a  b
0  5  7
1  6  8
2  5  7
3  6  8

数据的分段分组
cut(x,bins,right = True,lables = None)
x是数据
bins:分组依据
right:是否包含右端值

df.列.value_counts()
统计结果为Series
# 转化为百分比并保留两位小数
print('百分比：{:.2%}'.format(0.555555))

In [4]:
#读取数据
df=pd.read_csv("clear-s.txt",sep="\t",index_col=False,encoding='utf-8')
df.drop_duplicates(inplace=True)
df['英语'] = df['英语'].fillna(0)
df['军训'] = df['军训'].fillna(0)
df['英语'] = df['英语'].astype("float")
df['军训']= df['军训'].astype("float")
df.replace('缺考',0,inplace=True)
df['数分']= df['数分'].astype("float")
df.replace(102,100,inplace=True)
df.replace(-50.0,0.0,inplace=True)
df

            学号  专业    英语  体育    军训    数分   高代  解几
0   2308024241  统计  76.0  78  77.0  40.0   23  60
1   2308024244  统计  66.0  91  89.0  47.0   47  44
2   2308024251  金融   0.0  81  75.0  90.0   45  60
3   2308024249  金融  78.0  50   0.0  72.0   62  71
4   2308024433  金融  73.0  88  92.0  61.0   79  46
5   2308024201  统计  60.0  60  89.0   0.0   76  71
6   2308024347  金融  67.0  61  84.0  60.0   65  78
7   2308024251  金融  76.0  79  86.0  69.0   90  69
8   2308024326  统计  66.0  67  85.0  65.0  100  71
9   2308024433  金融  79.0  76  77.0  78.0   70  70
10  2308024428  统计   0.0  96  91.0  69.0   60  77

In [5]:
score1=pd.read_csv('score_1.txt',sep='\t',index_col=False,encoding='utf-8')
score2=pd.read_csv('score_2.txt',sep='\t',index_col=False,encoding='utf-8')
score3 = pd.concat([score1,score2],ignore_index=True)
score3.drop_duplicates('学号',inplace=True)
score3 = score3.fillna(0)
#切割
score3['班级'] = "05"
score3['总成绩'] = score3['平时成绩']*0.3 + score3['考试成绩']*0.7
# bins = [-1,59,84,100]
pd.cut(score3['总成绩'],bins=[-1,59,84,100])
score3['成绩等级'] = pd.cut(score3['总成绩'],bins=[-1,59,84,100],labels=['不及格','及格','优秀'])
score3['成绩等级'].value_counts()
# score3.head(5)

优秀     11
及格      5
不及格     1
Name: 成绩等级, dtype: int64

In [6]:
score3['班级'] = "05"
score3

           学号   平时成绩   考试成绩  班级    总成绩 成绩等级
0   202105001   80.0   92.0  05   88.4   优秀
1   202105002   80.0   87.0  05   84.9   优秀
2   202105003   80.0   85.0  05   83.5   及格
3   202105004  100.0   92.0  05   94.4   优秀
4   202105005  100.0   92.0  05   94.4   优秀
5   202105006  100.0  100.0  05  100.0   优秀
6   202105007    0.0  100.0  05   70.0   及格
7   202105008   80.0   95.0  05   90.5   优秀
8   202105009   80.0   87.0  05   84.9   优秀
9   202105010   80.0   72.0  05   74.4   及格
10  202105011   60.0    0.0  05   18.0  不及格
11  202105012   80.0   95.0  05   90.5   优秀
12  202105013   80.0   85.0  05   83.5   及格
14  202105015   80.0  100.0  05   94.0   优秀
16  202105017   80.0   92.0  05   88.4   优秀
17  202105018   80.0  100.0  05   94.0   优秀
19  202105020   60.0   67.0  05   64.9   及格

In [7]:
from scipy.spatial import distance_matrix
a = np.zeros((3, 2))
b = np.ones((4, 2))

# distance_matrix(a,b)

In [12]:

from scipy.spatial import distance_matrix
from sklearn.metrics.pairwise import pairwise_distances
distance_1 = [
    [0,16,16,28,28],
    [16,0,4,28,28],
    [16,4,0,28,28],
    [28,28,28,0,20],
    [28,28,28,20,0]
]
distance_2 = [
    [0,16,16,28,28],
    [16,0,4,28,28],
    [16,4,0,28,28],
    [28,28,28,0,20],
    [28,28,28,20,0]
]
pairwise_distances(distance_1,distance_2)
distance_matrix(distance_1,distance_2)

array([[ 0.        , 25.61249695, 25.61249695, 43.8178046 , 43.8178046 ],
       [25.61249695,  0.        ,  5.65685425, 48.49742261, 48.49742261],
       [25.61249695,  5.65685425,  0.        , 48.49742261, 48.49742261],
       [43.8178046 , 48.49742261, 48.49742261,  0.        , 28.28427125],
       [43.8178046 , 48.49742261, 48.49742261, 28.28427125,  0.        ]])